body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.home-engy {
    background-image: url("../img/bgn-testimonials.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
}

.home-engy .container .testimonials .engy-a {
    background-color: #fff;
    border-radius: 80%;
    width: 3%;
    margin-left: 48%;
    text-align: center;
}

.home-engy .container .testimonials .engy-b {
    text-align: center;
    text-decoration: underline;
}

.home-engy .container .testimonials .engy-c {
    text-align: center;
    font-size: 60px;
}

.home-engy .container .testimonials .engy-c strong {
    color: rgb(37, 190, 236);
}


/* .home-engy .container .testimonials .engy-d {
    text-align: left;
    margin-top: 40px;
    display: inline-block;
} */


/* Abdelrahman*/

.home-engy .container .testimonials .engy-testi {
    display: inline-block;
    width: 33%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.home-engy .container .testimonials .engy-testi p {
    font-size: 16px;
}

.home-engy .container .testimonials .engy-testi p:last-child {
    color: blue;
    font-size: 14px;
    float: right;
}


/* Abdelrahman*/


/* .home-engy .container .testimonials .engy-testi .p2 {
    color: blue;
} */


/* .home-engy .container .testimonials .engy-e {
    margin-left: 35%;
    text-align: justify;
} */


/* .home-engy .container .testimonials .engy-testi .p4 {
    color: blue;
} */


/* .home-engy .container .testimonials .engy-f {
    margin-left: 75%;
    text-align: justify;
} */


/* .home-engy .container .testimonials .engy-testi .p6 {
    color: blue; */


/* margin-bottom: 30px; */


/* margin-bottom: 50px; */


/*Abdelrahman*/

.home-engy .container .forward {
    margin-top: -40px;
    /*Abdelrahman*/
    position: absolute;
    background: linear-gradient(to right, rgba(130, 190, 66, 1) 0%, rgba(48, 178, 210, 1) 50%, rgba(28, 76, 147, 1) 100%);
    margin-right: 0;
    margin-left: 0;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.home-engy .container .testimonials .engy-f .forward .content {
    margin-bottom: 15px;
}

.home-engy .container .testimonials .engy-f .forward .content1 h3 {
    font-size: 30px;
    text-align: left;
}

.home-engy .container .testimonials .engy-f .forward .content hr {
    width: 70px;
    background-color: #1c4c93;
    height: 2px;
    border-top: none;
    margin: 10px 0;
}

.home-engy .container .testimonials .engy-f .forward .content .p7 {
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: .7px;
}

.engy-f input[type="email"] {
    background-color: rgba(255, 255, 255, .075);
    border: none;
    padding: 10px;
    font-size: 17px;
    width: 70%;
}

.engy-f input[type="submit"] {
    background: #30b2d2;
    border: none;
    padding: 10px;
    font-size: 17px;
    transition: .3s all ease-in-out;
    margin-top: 10px;
}

.map .map-a {
    background: linear-gradient(to right, rgba(130, 190, 66, 1) 0%, rgba(48, 178, 210, 1) 50%, rgba(28, 76, 147, 1) 100%);
    color: #FFF;
}

.map .map-a .content-engy {
    /*Abdelrahman*/
    padding: 20px;
    width: 49%;
    float: left;
    /*Abdelrahman*/
}


/*Abdelrahman*/

.map .map-a .map-icon {
    width: 49%;
    float: right;
}

.map .map-a .map-icon .sub-icon {
    width: 27%;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    margin-left: 10px;
    text-align: center;
}

.map .map-a .map-icon .sub-icon i {
    margin-bottom: 15px;
    background-color: #FFF;
    color: #000;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #FFF;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.map .map-a .map-icon .sub-icon i:hover {
    background-color: rgba(255, 255, 255, 0.001);
    color: #FFF;
}

.map .map-a .content-engy hr {
    height: 2px;
    width: 80px;
    background-color: #1c4c93;
    margin-top: 15px;
    border-top: none;
}


/*Abdelrahman*/

.map .map-a .p11 {
    /* font-size: 15px; */
    margin-top: 0px;
    /*Abdelrahman*/
}

.map .map-a .p10 {
    font-size: 50px;
    /* color: black; */
    margin-bottom: 0px;
    /*Abdelrahman*/
}


/* .gMap {
    
    width: 100%;
    height: 400px;
    background: #eef1f2;
    color: #000;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid #999;
}/*Abdelrahman*/

.appointment {
    background-image: url("../img/bgn-testimonials-02.jpg");
    background-size: cover;
}

.app-engy {
    margin-left: 50%;
}

.appointment .app-engy .words .p14 {
    font-size: 45px;
}

.appointment .app-engy .words .p13 {
    font-size: 45px;
    color: rgb(116, 195, 248);
    font-style: italic;
}


/*Abdelrahman*/

.appointment .app-engy .form {
    padding-bottom: 40px;
}

.appointment .app-engy .form input {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dedddd;
    border: 2px solid #CCC;
    font-size: 16px;
}


/*Abdelrahman*/